mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.schedule-form-modal {
  width: 800px;

  .mat-mdc-dialog-container .mat-mdc-dialog-content {
    padding: 0 0 20px 0;
    max-height: 95vh;

    form {
      padding: 20px 20px 0 20px;
      display: flex;
      flex-direction: column;

      .fields {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      [matDialogActions] {
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
    }
  }
}
